$gray-100: #f4f3f1;
$gray-200: #dddbd8;
$gray-300: #ccc9c6;
$gray-400: #aeaba7;
$gray-500: #8a8784;
$gray-600: #656360;
$gray-700: #4b4a47;
$gray-800: #31302e;
$gray-900: #1f1d1b;

$primary-100: #fcf3e1;
$primary-200: #fceccd;
$primary-300: #fae1af;
$primary-400: #fbd997;
$primary-500: #ffd37c;
$primary-600: #f9c762;
$primary-700: #fbc14d;
$primary-800: #fab833;
$primary-900: #f6ad1b;
