$footer-background: #000;
$footer-text: #fff;

footer {
  position: fixed;
  bottom: 0;
  color: $footer-text;
  background-color: $footer-background;
  width: 100%;
}

ol {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;

}
